#admin {
    display: flex;
}

.AHeader {
    text-align: center;
    line-height: 50px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.AHeader button {
    width: 80px;
    height: 20px;
}

.SideMenu {
    flex-grow: 1;
    border-right: solid 1px gray;
}

#admin_body {
    flex-grow: 6;
    padding-left: 15px;
}

/************ SEPARATION ************/

.SideMenu ul {
    list-style: none;
}

.SideMenu ul li a {
    text-decoration: none;
    color: black;
}

/************ SEPARATION ************/

.edit_ubtn{
    cursor: pointer;
}

.del_ubtn{
    cursor: pointer;
}